<?xml version="1.0" ?>
<config>
    <modules>
        <IS_CustTotal>
            <version>1.1.3</version>
        </IS_CustTotal>
    </modules>
    <global>
        <blocks>
            <custtotal>
                <class>IS_CustTotal_Block</class>
            </custtotal>
            <sales>
                <rewrite>
                    <order_totals>IS_CustTotal_Block_Order_Totals</order_totals>
                    <order_invoice_totals>IS_CustTotal_Block_Order_Invoice_Totals</order_invoice_totals>
                    <order_creditmemo_totals>IS_CustTotal_Block_Order_Creditmemo_Totals</order_creditmemo_totals>
                </rewrite>
            </sales>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>IS_CustTotal_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>IS_CustTotal_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>IS_CustTotal_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
        </blocks>

        <models>
            <custtotal>
                <class>IS_CustTotal_Model</class>
                <resourceModel>custtotal_mysql4</resourceModel>
            </custtotal>
            <custtotal_mysql4>
                <class>IS_CustTotal_Model_Mysql4</class>
                <entities>
                    <custtotal>
                        <table>zip_price</table>
                    </custtotal>
                </entities>
            </custtotal_mysql4>
        </models>

        <helpers>
            <custtotal>
                <class>IS_CustTotal_Helper</class>
            </custtotal>
        </helpers>

        <events>
            <admin_system_config_changed_section_mycustom_section>
                <observers>
                    <custtotal>
                        <type>singleton</type>
                        <class>custtotal/observer</class>
                        <method>handle_adminSystemConfigChangedSection</method>
                    </custtotal>
                </observers>
            </admin_system_config_changed_section_mycustom_section>
        </events>

        <resources>
            <istotal_setup>
                <setup>
                    <module>IS_CustTotal</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </istotal_setup>
        </resources>

        <sales>
            <quote>
                <totals>
                    <myfee>
                        <class>IS_CustTotal_Model_Quote_Total</class>
                        <after>subtotal</after>
                    </myfee>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <myfee>
                        <class>IS_CustTotal_Model_Invoice_Total</class>
                        <after>subtotal</after>
                    </myfee>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <myfee>
                        <class>IS_CustTotal_Model_Creditmemo_Total</class>
                        <after>subtotal</after>
                    </myfee>
                </totals>
            </order_creditmemo>
        </sales>

        <fieldsets>
            <sales_convert_quote_address>
                <fee_is>
                    <to_order>*</to_order>
                </fee_is>
                <base_fee_is>
                    <to_order>*</to_order>
                </base_fee_is>
            </sales_convert_quote_address>

        </fieldsets>
    </global>
</config>