<?xml version="1.0" ?>
<config>
    <modules>
        <DS_News>
            <version>0.0.2</version>
        </DS_News>
    </modules>
    <frontend>
        <layout>
            <updates>
                <dsnews>
                    <file>ds_news.xml</file>
                </dsnews>
            </updates>
        </layout>
        <routers>
            <dsnews>
                <use>standard</use>
                <args>
                    <module>DS_News</module>
                    <frontName>news</frontName>
                </args>
            </dsnews>
        </routers>
    </frontend>
    <global>
        <blocks>
            <dsnews>
                <class>DS_News_Block</class>
            </dsnews>
        </blocks>
        <models>
            <dsnews>
                <class>DS_News_Model</class>
                <resourceModel>dsnews_resource</resourceModel>
            </dsnews>
            <dsnews_resource>
                <class>DS_News_Model_Resource</class>
                <entities>
                    <table_news>
                        <table>ds_news_entities</table>
                    </table_news>
                </entities>
            </dsnews_resource>
        </models>
        <resources>
            <dsnews_setup>
                <setup>
                    <module>DS_News</module>
                </setup>
            </dsnews_setup>
        </resources>
        <helpers>
            <dsnews>
                <class>DS_News_Helper</class>
            </dsnews>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <dsnews>
                    <file>dsnews/news.xml</file>
                </dsnews>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <dsnews before="Mage_Adminhtml">DS_News_Adminhtml</dsnews>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>