<?xml version="1.0"?>
<config>
    <modules>
        <My_Checkout>
            <version>0.0.1</version>
        </My_Checkout>
    </modules>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <My_Checkout before="Mage_Checkout">My_Checkout_Checkout</My_Checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
</config>