<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <My_Layout>
            <version>0.0.1</version>
        </My_Layout>
    </modules>
    <frontend>
        <layout>
            <updates>
                <my_layout module="My_Layout">
                    <file>my_layout.xml</file>
                </my_layout>
            </updates>
        </layout>
    </frontend>
</config>