<?xml version="1.0" ?>
<config>
    <modules>
        <IS_Test>
            <version>0.0.1</version>
        </IS_Test>
    </modules>
    <frontend>
        <routers>
            <istest>
                <use>standard</use>
                <args>
                    <module>IS_Test</module>
                    <frontName>istestdata</frontName>
                </args>
            </istest>
        </routers>
        <layout>
            <updates>
                <is_test module="IS_Test">
                    <file>istest/is_test.xml</file>
                </is_test>
                <istest_my_account_link>
                    <file>istest/my_account_link.xml</file>
                </istest_my_account_link>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <istest>
                <class>IS_Test_Block</class>
            </istest>
        </blocks>
        <models>
            <istest>
                <class>IS_Test_Model</class>
                <resourceModel>istest_resource</resourceModel>
            </istest>
            <istest_resource>
                <class>IS_Test_Model_Resource</class>
                <entities>
                    <table_istest>
                        <table>my_block</table>
                    </table_istest>
                </entities>
            </istest_resource>
        </models>
        <helpers>
            <istest>
                <class>IS_Test_Helper</class>
            </istest>
        </helpers>
        <resources>
            <istest_setup>
                <setup>
                    <module>IS_Test</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>

                <connection>
                    <use>core_setup</use>
                </connection>
            </istest_setup>

            <istest_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </istest_write>
            <istest_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </istest_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <istest>
                    <file>istest/mydata.xml</file>
                </istest>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <istest before="Mage_Adminhtml">IS_Test_Adminhtml</istest>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>