<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <My_Test>
            <version>0.0.1</version>
        </My_Test>
    </modules>
    <frontend>
        <routers>
            <layout>
                <updates>
                    <test>
                        <file>test.xml</file>
                    </test>
                </updates>
            </layout>
            <routeurfrontend>
                <use>standard</use>
                <args>
                    <module>My_Test</module>
                    <frontName>test</frontName>
                </args>
            </routeurfrontend>
        </routers>
    </frontend>
    <global>
        <blocks>
            <test>
                <class>My_Test_Block</class>
            </test>
        </blocks>
    </global>
</config>